.personal-information{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  background-color: white;
  padding: 15px 20px;
  border-radius: 10px;
}
.personal-information p{
  color: rgb(75, 74, 74);
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
}
.personal-information p.personal-information-select{
  background-color: rgb(201, 201, 201);
  padding: 10px 15px;
}

/* Media Query */

@media screen and (max-width: 768px) {
  .personal-information{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    background-color: white;
    padding: 10px 0px;
    border-radius: 10px;
  }
}