.update-password-data{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
  padding: 15px 20px;
  overflow-y: scroll;
  font-size: 15px;
}
.update-password-data h4{
  font-size: 20px;
  color: rgb(75, 74, 74);
}
.update-password-form,
.current-password-container,
.current-password{
  display: flex;
  flex-direction: column;
}
.current-password{
  gap: 10px;
}
.current-password .current-password-options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.current-password .current-password-options p{
  cursor: pointer;
}
.current-password input {
  padding: 10px 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(216, 216, 216);
  background-color: #f3f6fd;
  color: rgb(117, 117, 117);
  font-size: 17px;
}
.current-password input:focus {
  outline: none;
}
.new-password,
.verify-password{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.new-password input {
  padding: 10px 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(216, 216, 216);
  background-color: #f3f6fd;
  color: rgb(117, 117, 117);
  font-size: 17px;
}
.new-password input:focus {
  outline: none;
}

.verify-password input {
  padding: 10px 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(216, 216, 216);
  background-color: #f3f6fd;
  color: rgb(117, 117, 117);
  font-size: 17px;
}
.verify-password input:focus {
  outline: none;
}

/* Media Query */

@media screen and (max-width:320px) {
  .current-password{
    font-size: 11px;
  }
}