.signup-container {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  align-items: center;
  justify-content: center;
  background-color: #f3f6fd;
  width: 100%;
}
.signup-contents{
  background-color: rgb(255, 255, 255);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 330px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 3px rgb(90, 90, 90);
}
.nurad-note-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.nurad-note-logo img{
  width: 30px;
  background-color: black;
  border-radius: 6px;
}
.nurad-note-logo h4{
 font-weight: bold;
 font-size: 20px;
}
.create-new-account{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.create-new-account h4{
  font-size: 24px;
}
.create-new-account p{
  font-size: 14px;
  color: rgb(90, 90, 90);
}
.sign-up-form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sign-up-form input:not(input[type="radio"]){
  padding: 13px 10px;
  border: none;
  color: rgb(82, 81, 81);
  font-size: 14px;
  background-color:  #f3f6fd;
  width: 100%;
  border-radius: 5px;
}
.sign-up-form input:focus{
  outline: none;
}
.sign-up-form .name-field{
  display: flex;
  gap: 15px;
}
.sign-up-form .password-field{
  display: flex;
  gap: 15px;
}
.terms-conditions{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.terms-conditions span.check-notify-container{
  opacity: 0;
}
.terms-conditions span.check-notify{
  font-size: 10px;
  color: rgb(160, 11, 11);
  opacity: 1;
}
.terms-conditions-contents{
  display: flex;
  align-items: center;
  gap: 7px;
}

.terms-conditions label{
  font-size: 15px;
  color: rgb(90, 90, 90);
}
.submit-field{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.submit-field button{
  padding: 7px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
}
.submit-field p{
  font-size: 12px;
  color: rgb(90, 90, 90);
}
.submit-field p span{
  font-weight: bold;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

/* Media Query */

@media screen and (min-width: 320px) {
  .signup-contents{
    gap: 10px;
    max-width: 270px;
}
}

@media screen and (min-width: 344px) {
  .signup-contents{
    gap: 20px;
    max-width: 300px;
}
}

@media screen and (min-width: 768px) {
  .signup-contents{
    gap: 40px;
    max-width: 450px;
}
}



