.middle-side-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  overflow-y: scroll;
}

/* Media Query */

@media screen and (max-width: 768px) {
  .middle-side-container {
    padding-right: 0px;
  }
  .footer-contents{
    display: flex;
    flex-direction: row;
    color: rgb(90, 90, 90);
    font-size: 12px;
  }
}

