*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Roboto", sans-serif;
  height: 100dvh;
  width: 100dvw;
  background-color: #f3f6fd;
}
::-webkit-scrollbar{
  display: none;
}

@media screen and (max-width: 768px) {
  body{
    padding-top: 40px;
  }
}